

.container {
	margin: 5% 5%;
}
#main {
	width: 500px;
	height: 500px;
	/*border: 1px solid black;*/
}
td {
	border-radius: 50%;
/*	height: 1px;
	width: 1px;
*/	



background-color: black;


/* padding 0 & table collapse removed the margin issues */
	padding: 0;
}
table {
    border-collapse: collapse;
}